button{
    color:rgba(0, 0, 0, 0.973);
    padding: 15px  32px;
    text-emphasis-color: rgba(0,0,0);
    text-align: center ;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
}

button:hover{
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24), 0 5px 8px 0 rgba(0,0,0,0.19);
}

.active{
    background-color:rgb(0, 47, 255);
}

.inactive{
    background-color: rgb(236, 0, 0);
}